body {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-image: url("../assets/bg.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

@media only screen and (max-width: 1200px) {
  body {
    background-image: url("../assets/bg_small.png");
  }
}

#reels {
  display: flex;
  width: 100vw;
  height: calc((3 / 5) * 100vw);
  max-height: calc(90vh - 50px - 40px);
  max-width: calc((5 / 3) * (90vh - 50px - 40px));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* поддержка Safari */
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 24px; /* округление */
  overflow: hidden; /* обрезаем содержимое по границе */
}

.reel {
  overflow: hidden;
  width: 20%;
  height: 100%;
  position: relative;
}

.reel > .icons {
  position: relative;
}

.reel > .icons > img {
  width: calc(100% + 6px);
  margin: -3px 0 0 -3px;
  height: auto;

  /* enable gpu accelaration, fixes iOS flicker */
  transform: translate3d(0, 0, 0);
}

#controls {
  background-color: rgba(70, 70, 59, 0.9);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  border-radius: 24px; /* округление */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* поддержка Safari */
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 20px; /* отступ сверху */
}

#controls label {
  display: flex;
  align-items: center;
  margin: 0;
}

#controls label input {
  margin-right: 5px;
}

input[type="checkbox"] {
  width: 40px;
  height: 40px;
}

#jackpot {
  color: #d5ad6d;
  font-size: 50px;
  text-align: center;
}

#spin {
  /* color: #d56d6d; */
  /* font-size: 50px; */
  /* text-align: center; */
  border-radius: 5px; /* округление */
}

#slot.inverted .reel {
  transform: scaleY(-1);
}

#slot.inverted .reel > .icons > img {
  transform: scaleY(-1);
}

#jackpot,
#controls {
  font-family: "Orbitron", sans-serif;
}

.glow-text {
  background: linear-gradient(
    270deg,
    #ff6ec4,
    #7873f5,
    #4ade80,
    #facc15,
    #ff6ec4
  );
  background-size: 1000% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientShift 6s ease infinite;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow:
    0 0 6px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.3),
    0 0 20px rgba(255, 0, 255, 0.2);
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
